@import './../../scss/';

.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #4bc0c0;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &__gif {
        z-index: 11;
        
    }
}