@import './../../scss/';

.singleTableRow {
	background-color: $white;
	display: flex;
	font-size: 10px;
	justify-content: space-between;

	&__cell {
		align-items: center;
		color: $dark-grey;
		display: flex;
		justify-content: center;
		flex: 20%;
		font-size: 12px;
		padding: 12px 10px;
		border-left: 1px solid $dark-grey-10;

		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;
		}

		@include breakpoint(mobilesmall) {
			font-size: 9px;
		}
	}
}

.highlightedTop .singleTableRow__cell {
	border-bottom: 1px solid $aqua;
	border-left: 1px solid $dark-grey-10;
	color: $aqua;

	&:first-child {
		border-left: none;
	}
	&:last-child {
		border-right: none;
	}
}

.highlightedBottom .singleTableRow__cell {
	border-left: 1px solid $dark-grey-10;
	border-top: 1px solid $aqua;
	color: $aqua;

	&:first-child {
		border-left: none;
	}
	&:last-child {
		border-right: none;
	}
}
