@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

html {
	font-size: 62.5%;
	font-family: $font-primary;
	font-weight: 300;
}

body {
	font-size: 1.5rem;
}

b,
strong {
	font-weight: bold;
}
