$black: #000000;
$white: #ffffff;
$perle-white: #fbfbfb;
$aqua: #4bc0c0;
$dark-grey: #393939;

$dark-grey-10: rgba(57, 57, 57, .1);
$dark-grey-3: rgba(57, 57, 57, .03);

$gradient-start: #53dfc7;
$gradient-end: #6ecae2;

$elements-gradient-start: #0cd4b0;
$elements-gradient-end: #32b5d8;

$font-primary: 'Poppins';
$shadow: 0 2px 20px #eaeaea;
